{% if maintenanceMode %}
    {# Show nothing in maintenance mode #}
{% else %}
    {% if app.user %}
        {% set media = null %}
        {% if app.user.contact.avatar is not null %}
            {% set media = sulu_resolve_media(app.user.contact.avatar, request.locale) %}
        {% endif %}

        <a href="{{ path('sulu_community.profile') }}">
            {% if media is not null %}
                <img src="{{ media.thumbnails['50x50'] }}"/>
            {% endif %}

            {{ app.user.username|default('No username'|trans) }}
        </a>

        <a href="{{ path('sulu_community.logout') }}">
            {{ 'Logout'|trans }}
        </a>
    {% else %}
        <a href="{{ path('sulu_community.login') }}">
            {{ 'Login'|trans }}
        </a>
    {% endif %}
{% endif %}
