{% if app.user %}
    {{ app.user.username }}

    <a href="{{ path('sulu_community.logout') }}">
        {{ 'Logout'|trans }}
    </a>
{% else %}
    <a href="{{ path('sulu_community.login') }}">
        {{ 'Login'|trans }}
    </a>
{% endif %}
